<h1>投稿一覧</h1>

<!--eachメソッドでListレコードの数だけ繰り返し処理を行う-->
<% @lists.each do |list| %>

  <p>タイトル</p>
  <span>
    <!--link_toメソッドはHTMLの要素を出力する-->
    <%= link_to list.title, list_path(list.id) %>
  </span>
  
<% end %>